.navbar_root {
  height: 100vh;
  overflow: hidden;
}

.navbar {
  z-index: 999;
}

.navbar-nav_desktop {
  display: block;
}

.navbar-nav_desktop .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #098777;
}

.navbar-nav_desktop .nav-list_item {
  margin-top: 0;
  margin-bottom: 0 !important;
  height: 100%;
}

.navbar-nav_desktop .nav-list_item .ant-dropdown-link {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 1rem;
  padding: 8px 10px;
  color: white;
}

.navbar-nav_mobile {
  width: 100%;
  display: none;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-nav_mobile .nav-list {
  background-color: #098777;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navbar-nav_mobile .nav-list .ant-divider {
  margin: 0;
  border-top: 1px solid #f7f7f7;
}

.navbar-nav_mobile .nav-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-nav_mobile .nav-list_item > a {
  padding: 0 1rem;
  width: 100%;
  color: white;
  font-size: 1rem;
}

.navbar-nav_mobile .nav-list_item > a::before {
  position: unset;
}

.navbar-nav_mobile .nav-list_item > p {
  margin: 0;
  padding: 0px;
  border-left: 1px solid #efefef;
}

.navbar-nav_mobile .nav-list_item > p > span {
  height: 100%;
  margin: 0;
  color: white;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav_mobile.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar .navbar_mobile_tools {
  padding: 1rem;
  background: #098777;
  display: none;
}

.navbar .navbar_mobile_tools .tools_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar_mobile_tools .box-tool .ant-btn {
  padding: 3px 8px;
  background: none;
  color: white;
  font-size: 1.1rem;
  border: none;
}

.navbar .navbar_mobile_tools .box-tool .ant-btn:hover {
  background: white;
  color: black;
}

.hello {
  display: none;
  width: 100%;
  height: 100%;
  background: #0000002e;
  z-index: 998;
}

.hello.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .navbar_mobile_tools {
    display: block !important;
  }
  .navbar-nav_desktop {
    display: none;
  }
  .navbar-nav_mobile {
    display: block !important;
  }
  .ant-dropdown {
    z-index: 999;
    width: 100%;
  }
  .ant-dropdown a {
    font-size: 1.1rem;
  }
  .ant-dropdown .ant-divider-horizontal {
    margin: 0;
  }
  .ant-dropdown .nav-list_1_m {
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .ant-dropdown .nav-list_1_m_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-dropdown .nav-list_1_m_item > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 1rem;
  }
  .ant-dropdown .nav-list_1_m_item > p {
    margin: 0;
    padding: 0px;
    border-left: 1px solid #efefef;
  }
  .ant-dropdown .nav-list_1_m_item > p > span {
    height: 100%;
    margin: 0;
    color: black;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=Navbar.css.map */