.container-products {
    padding: 1.5rem 8.5rem;
    background: #fffdfa;
    .row-title {
        margin-bottom: 15px;
        h2.ant-typography {
            text-transform: capitalize;
        }
        .sort-tool {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .ant-typography {
                font-size: 1rem;
                margin-right: 10px;
            }
            .ant-select-selector {
                font-size: 1rem;
            }
        }
        .ant-select-open {
            border-color: unset;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container-products {
        padding: 1.5rem 2.5rem;
    }
}