.ant-dropdown-menu-item, .ant-dropdown-menu-item > a {
  margin: 0;
  padding: 0;
}
.navbar-submenu .ant-menu-submenu-title, .ant-menu-sub.ant-menu-vertical a {
  font-size: 1.1rem;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: unset;
}